Library/metadata/00/00000000000000001000000000000000
Library/metadata/
Library/ShaderCache/0/000983a935f17b4db97ede7cc2485292.bin
Library/ShaderCache/
Temp/
Library/
ExternalEditors/GoodsEditor/bin/
ExternalEditors/GoodsEditor/obj/
.vs/
Assets/Save/
*.bin
